.slogan {
  margin: auto;
  text-align: center;
  padding-top: 2.5%;
}

/* Column 2 and Column 3 overrides BootStrap styling */
.columncards2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5%;
  margin: auto;
}
.card1,
.card2 {
  padding: 2.5%;
  background-color: #3c3c3c51;
  border-radius: 0.5em;
  margin: 2.5%;
  font-size: 70%;
}
a.btn.btn-primary {
  background-color: black;
  border-color: white;
}
a.btn.btn-primary:hover {
  background-color: white;
  border-color: black;
  color: black;
}
.columncards3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

/* Shopping Items */
.shoppingItemsClothes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 0.5em;
  background-color: #3c3c3c51;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.ecommerce {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0.75%;
  background-color: #3c3c3c51;
}

.tshirt,
.shorts,
.backpack {
  padding: 3%;
  background-color: #3c3c3c51;
}

/* Logo and External Sites */
.logoAndExternals {
  background-color: #3c3c3c51;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%;
}
.youtubeBanner {
  height: auto;
  width: 10%;
}

.youtubeBanner {
  width: 100%;
}

.product-details {
  padding: 10px;
}

.instagram {
  background-color: #3c3c3c51;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding-top: 2.5%;
}
.instagramPhotos {
  background-color: #3c3c3c51;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2.5%;
}
.card {
  width: 30vw;
  padding: 2.5%;
}
body {
  background: #eee;
}

.cart {
  background: #fff;
}

.p-about {
  font-size: 12px;
}

.table-shadow {
  -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.42);
}

.type {
  font-weight: 400;
  font-size: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 1px 12px;
  border: 2px solid #ada9a9;
  display: inline-block;
  color: #8f37aa;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}

label.radio input:checked + span {
  border-color: #fff;
  background-color: blue;
  color: #fff;
}

.credit-inputs {
  background: rgb(102, 102, 221);
  color: #fff !important;
  border-color: rgb(102, 102, 221);
}

.credit-inputs::placeholder {
  color: #fff;
  font-size: 13px;
}

.credit-card-label {
  font-size: 9px;
  font-weight: 300;
}

.form-control.credit-inputs:focus {
  background: rgb(102, 102, 221);
  border: rgb(102, 102, 221);
}

.line {
  border-bottom: 1px solid rgb(102, 102, 221);
}

.information span {
  font-size: 12px;
  font-weight: 500;
}

.information {
  margin-bottom: 5px;
}

.items {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
}

.spec {
  font-size: 11px;
}
